<%= form_with modal: @product, url: product_path(@product.id), method: :put, local: true do |form| %>


   <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <%= form.submit %>

  <% end %>
